<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 负责一些非mvc组件（或者其他组件）的配置-->

 <!--   <context:component-scan base-package="com.spittr"></context:component-scan>-->
   <!-- <import resource="classpath:pizza/flow.xml" />-->
 <!--   <bean id="springSecurityFilterChain" class="org.springframework.security.web.FilterChainProxy"/>-->

</beans>